Repository microg/GmsCore, pull requests merged in 2024-08, with the labels that each got.

#2437 Improved map addGroundOverlay method
  play-services-maps/core/hms/src/main/kotlin/org/microg/gms/maps/hms/GoogleMap.kt
Labels: 🗺 Maps

#2373 fix whatsapp map is blurry
  play-services-maps/core/hms/src/main/kotlin/org/microg/gms/maps/hms/GoogleMap.kt
Labels: 🗺 Maps

#2365 Map: Remove styles that cannot be set
  play-services-maps/core/hms/src/main/kotlin/org/microg/gms/maps/hms/GoogleMap.kt
Labels: 🗺 Maps

#2385 Fixed the problem of Uber point selection movement and inability to o…
  play-services-maps/core/hms/src/main/kotlin/org/microg/gms/maps/hms/GoogleMap.kt
Labels: 🗺 Maps

#2434 Add Google redirect location settings page
  play-services-location/core/src/main/AndroidManifest.xml
  play-services-location/core/src/main/kotlin/org/microg/gms/location/settings/GoogleLocationSettingsActivity.kt
Labels: 📍 Location

#2364 Recaptcha: Improve RecaptchaImpl
  play-services-recaptcha/core/src/main/kotlin/org/microg/gms/recaptcha/RecaptchaService.kt
Labels: 🔒 Integrity

#2446 Fixed the issue that caused quick login to crash
  play-services-core/src/main/kotlin/org/microg/gms/auth/signin/AssistedSignInFragment.kt
Labels: 👥 Google Accounts

#2416 PayThirdPartyService Supplement
  play-services-basement/src/main/java/org/microg/gms/common/GmsService.java
  play-services-pay/build.gradle
  play-services-pay/core/src/main/AndroidManifest.xml
  play-services-pay/core/src/main/kotlin/org/microg/gms/pay/PayService.kt
  play-services-pay/core/src/main/kotlin/org/microg/gms/pay/ThirdPartyPayService.kt
  play-services-pay/src/main/aidl/com/google/android/gms/pay/CheckReadinessForEmoneyRequest.aidl
  play-services-pay/src/main/aidl/com/google/android/gms/pay/EmoneyReadiness.aidl
  play-services-pay/src/main/aidl/com/google/android/gms/pay/GetMdocCredentialRequest.aidl
  play-services-pay/src/main/aidl/com/google/android/gms/pay/GetPayApiAvailabilityStatusRequest.aidl
  play-services-pay/src/main/aidl/com/google/android/gms/pay/GetPendingIntentForWalletOnWearRequest.aidl
  play-services-pay/src/main/aidl/com/google/android/gms/pay/GetWalletStatusResponse.aidl
  play-services-pay/src/main/aidl/com/google/android/gms/pay/NotifyCardTapEventRequest.aidl
  play-services-pay/src/main/aidl/com/google/android/gms/pay/NotifyEmoneyCardStatusUpdateRequest.aidl
  play-services-pay/src/main/aidl/com/google/android/gms/pay/PayApiError.aidl
  play-services-pay/src/main/aidl/com/google/android/gms/pay/PushEmoneyCardRequest.aidl
  play-services-pay/src/main/aidl/com/google/android/gms/pay/SavePassesRequest.aidl
  play-services-pay/src/main/aidl/com/google/android/gms/pay/SyncBundleRequest.aidl
  play-services-pay/src/main/aidl/com/google/android/gms/pay/internal/IPayServiceCallbacks.aidl
  play-services-pay/src/main/aidl/com/google/android/gms/pay/internal/IThirdPartyPayService.aidl
  play-services-pay/src/main/java/com/google/android/gms/pay/CheckReadinessForEmoneyRequest.java
  play-services-pay/src/main/java/com/google/android/gms/pay/EmoneyReadiness.java
  play-services-pay/src/main/java/com/google/android/gms/pay/EmoneyReadinessStatus.java
  play-services-pay/src/main/java/com/google/android/gms/pay/GetMdocCredentialRequest.java
  play-services-pay/src/main/java/com/google/android/gms/pay/GetPayApiAvailabilityStatusRequest.java
  play-services-pay/src/main/java/com/google/android/gms/pay/GetPendingIntentForWalletOnWearRequest.java
  play-services-pay/src/main/java/com/google/android/gms/pay/GetWalletStatusResponse.java
  play-services-pay/src/main/java/com/google/android/gms/pay/NotifyCardTapEventRequest.java
  play-services-pay/src/main/java/com/google/android/gms/pay/NotifyEmoneyCardStatusUpdateRequest.java
  play-services-pay/src/main/java/com/google/android/gms/pay/PayApiError.java
  play-services-pay/src/main/java/com/google/android/gms/pay/PayClient.java
  play-services-pay/src/main/java/com/google/android/gms/pay/PushEmoneyCardRequest.java
  play-services-pay/src/main/java/com/google/android/gms/pay/SavePassesRequest.java
  play-services-pay/src/main/java/com/google/android/gms/pay/SyncBundleRequest.java
  play-services-pay/src/main/java/org/microg/gms/pay/PayClientImpl.java
  play-services-pay/src/main/java/org/microg/gms/pay/PayServiceCallbacks.java
  play-services-pay/src/main/java/org/microg/gms/pay/ThirdPartyPayApiClient.java
Labels: 💳 Pay

#2389 FirebaseAuth: Improve signInWithCredential
  firebase-auth/build.gradle
  firebase-auth/core/src/main/kotlin/org/microg/gms/firebase/auth/FirebaseAuthService.kt
  firebase-auth/core/src/main/kotlin/org/microg/gms/firebase/auth/IdentityToolkitClient.kt
  firebase-auth/src/main/java/com/google/firebase/auth/api/internal/SignInWithCredentialAidlRequest.java
  firebase-auth/src/main/java/com/google/firebase/auth/api/internal/VerifyAssertionRequest.java
Labels: 🔑 Firebase Auth

#2438 Improve the signOut method of AuthSignInService
  play-services-base/src/main/java/com/google/android/gms/auth/api/signin/GoogleSignInOptions.java
  play-services-core/src/main/kotlin/org/microg/gms/auth/signin/AuthSignInService.kt
  play-services-core/src/main/kotlin/org/microg/gms/auth/signin/SignInConfigurationService.kt
  play-services-core/src/main/kotlin/org/microg/gms/auth/signin/extensions.kt
Labels: 👥 Google Accounts

#2420 Improve the IAP interface
  vending-app/src/main/aidl/com/android/vending/billing/IInAppBillingCreateAlternativeBillingOnlyTokenCallback.aidl
  vending-app/src/main/aidl/com/android/vending/billing/IInAppBillingCreateExternalPaymentReportingDetailsCallback.aidl
  vending-app/src/main/aidl/com/android/vending/billing/IInAppBillingDelegateToBackendCallback.aidl
  vending-app/src/main/aidl/com/android/vending/billing/IInAppBillingGetAlternativeBillingOnlyDialogIntentCallback.aidl
  vending-app/src/main/aidl/com/android/vending/billing/IInAppBillingGetBillingConfigCallback.aidl
  vending-app/src/main/aidl/com/android/vending/billing/IInAppBillingGetExternalPaymentDialogIntentCallback.aidl
  vending-app/src/main/aidl/com/android/vending/billing/IInAppBillingIsAlternativeBillingOnlyAvailableCallback.aidl
  vending-app/src/main/aidl/com/android/vending/billing/IInAppBillingIsExternalPaymentAvailableCallback.aidl
  vending-app/src/main/aidl/com/android/vending/billing/IInAppBillingService.aidl
  vending-app/src/main/aidl/com/android/vending/billing/IInAppBillingServiceCallback.aidl
  vending-app/src/main/java/org/microg/vending/billing/InAppBillingServiceImpl.kt
  vending-app/src/main/java/org/microg/vending/billing/core/HttpClient.kt
Labels: 💰 Billing

#2199 FIDO2 screenlock authentication fixes
  play-services-fido/core/src/main/kotlin/org/microg/gms/fido/core/transport/screenlock/ScreenLockCredentialStore.kt
Labels: 🔐 FIDO / WebAuthN / Passkeys

#2435 Added the automatic login function for Games
  play-services-core/src/main/AndroidManifest.xml
  play-services-core/src/main/kotlin/org/microg/gms/auth/signin/AssistedSignInFragment.kt
  play-services-core/src/main/kotlin/org/microg/gms/auth/signin/extensions.kt
  play-services-core/src/main/kotlin/org/microg/gms/games/GamesConnectService.kt
  play-services-core/src/main/kotlin/org/microg/gms/games/GamesService.kt
  play-services-games/src/main/aidl/com/google/android/gms/games/internal/IGamesService.aidl
Labels: 👥 Google Accounts
