Repository microg/GmsCore, pull requests merged in 2024-03, with the labels that each got.

#2224 GitHub Gradle build improvements
  .github/matchers/gradle-build-kotlin-error-matcher.json
  .github/matchers/gradle-build-kotlin-error-matcher.json.license
  .github/matchers/gradle-build-matcher.json
  .github/matchers/gradle-build-matcher.json.license
  .github/workflows/build.yml
Labels: enhancement, Build script

#2227 Auth: Return result from login activity
  play-services-core/src/main/java/org/microg/gms/auth/login/LoginActivity.java
Labels: 👥 Google Accounts

#2216 Location: Implement settings request
  play-services-location/build.gradle
  play-services-location/core/build.gradle
  play-services-location/core/src/main/AndroidManifest.xml
  play-services-location/core/src/main/kotlin/org/microg/gms/location/manager/LocationManager.kt
  play-services-location/core/src/main/kotlin/org/microg/gms/location/manager/LocationManagerInstance.kt
  play-services-location/core/src/main/kotlin/org/microg/gms/location/settings/DetailedLocationSettingsStates.kt
  play-services-location/core/src/main/kotlin/org/microg/gms/location/settings/LocationSettingsCheckerActivity.kt
  play-services-location/core/src/main/res/drawable/custom_dialog_background.xml
  play-services-location/core/src/main/res/layout/activity_location_setting_checker.xml
  play-services-location/core/src/main/res/values-zh-rCN/strings.xml
  play-services-location/core/src/main/res/values/strings.xml
  play-services-location/core/src/main/res/values/styles.xml
  play-services-location/src/main/aidl/com/google/android/gms/location/internal/IGoogleLocationManagerService.aidl
  play-services-location/src/main/java/com/google/android/gms/location/LocationSettingsRequest.java
  play-services-location/src/main/java/com/google/android/gms/location/LocationSettingsResponse.java
  play-services-location/src/main/java/com/google/android/gms/location/LocationSettingsResult.java
  play-services-location/src/main/java/com/google/android/gms/location/LocationSettingsStates.java
  play-services-location/src/main/java/com/google/android/gms/location/LocationSettingsStatusCodes.java
  play-services-location/src/main/java/com/google/android/gms/location/SettingsClient.java
  play-services-location/src/main/java/org/microg/gms/location/SettingsClientImpl.java
Labels: 📍 Location

#2234 feat(SafetyNet): publicly expose Verify Apps API
  play-services-safetynet/src/main/java/com/google/android/gms/safetynet/SafetyNetApi.java
  play-services-safetynet/src/main/java/com/google/android/gms/safetynet/SafetyNetClient.java
  play-services-safetynet/src/main/java/org/microg/gms/safetynet/SafetyNetGmsClient.java
Labels: enhancement, 🔒 SafetyNet / Play Integrity / DroidGuard
