Repository microg/GmsCore, pull requests merged in 2025-09, with the labels that each got.

#2960 HMSMap: Optimized PolylineImpl
  play-services-maps/core/hms/src/main/kotlin/org/microg/gms/maps/hms/model/Polyline.kt
Labels: 🗺 Maps

#2976 HMSMap: Handle more view access methods
  play-services-maps/core/hms/src/main/kotlin/org/microg/gms/maps/hms/GoogleMap.kt
  play-services-maps/core/hms/src/main/kotlin/org/microg/gms/maps/hms/MapFragment.kt
  play-services-maps/core/hms/src/main/kotlin/org/microg/gms/maps/hms/MapView.kt
Labels: 🗺 Maps

#2986 HMSMap: Improve map control handling
  play-services-maps/core/hms/src/main/kotlin/org/microg/gms/maps/hms/GoogleMap.kt
  play-services-maps/core/hms/src/main/kotlin/org/microg/gms/maps/hms/UiSettings.kt
  play-services-maps/core/hms/src/main/kotlin/org/microg/gms/maps/hms/utils/MapUiController.kt
Labels: 🗺 Maps

#3029 HMSMap: Fixed some abnormal scenes in the map
  play-services-maps/core/hms/src/main/kotlin/org/microg/gms/maps/hms/GoogleMap.kt
  play-services-maps/core/hms/src/main/kotlin/org/microg/gms/maps/hms/utils/MapContext.kt
Labels: 🗺 Maps

#3052 Location: Implement TGV Lyria's new position provider
  play-services-location/core/provider/src/main/kotlin/org/microg/gms/location/network/wifi/MovingWifiHelper.kt
Labels: 📍 Location

#3002 PI: Add clientKey refresh timing
  vending-app/src/main/kotlin/com/google/android/finsky/IntegrityExtensions.kt
  vending-app/src/main/kotlin/com/google/android/finsky/expressintegrityservice/ExpressIntegrityService.kt
Labels: 🔒 Integrity

#3045 Location sharing function
  play-services-api/src/main/aidl/com/google/android/gms/locationsharingreporter/IneligibilityRationale.aidl
  play-services-api/src/main/aidl/com/google/android/gms/locationsharingreporter/LocationReportingStatus.aidl
  play-services-api/src/main/aidl/com/google/android/gms/locationsharingreporter/LocationShare.aidl
  play-services-api/src/main/aidl/com/google/android/gms/locationsharingreporter/LocationUploadRequest.aidl
  play-services-api/src/main/aidl/com/google/android/gms/locationsharingreporter/LocationUploadResponse.aidl
  play-services-api/src/main/aidl/com/google/android/gms/locationsharingreporter/NoticeAckedUpdateRequest.aidl
  play-services-api/src/main/aidl/com/google/android/gms/locationsharingreporter/PeriodicLocationReportingIssues.aidl
  play-services-api/src/main/aidl/com/google/android/gms/locationsharingreporter/PeriodicLocationUploadRequest.aidl
  play-services-api/src/main/aidl/com/google/android/gms/locationsharingreporter/StartLocationReportingRequest.aidl
  play-services-api/src/main/aidl/com/google/android/gms/locationsharingreporter/StopLocationReportingRequest.aidl
  play-services-api/src/main/aidl/com/google/android/gms/locationsharingreporter/internal/ILocationReportingIssuesCallback.aidl
  play-services-api/src/main/aidl/com/google/android/gms/locationsharingreporter/internal/ILocationReportingStatusCallbacks.aidl
  play-services-api/src/main/aidl/com/google/android/gms/locationsharingreporter/internal/ILocationSharingReporterService.aidl
  play-services-api/src/main/aidl/com/google/android/gms/locationsharingreporter/internal/ILocationUploadCallbacks.aidl
  play-services-api/src/main/java/com/google/android/gms/locationsharingreporter/IneligibilityRationale.java
  play-services-api/src/main/java/com/google/android/gms/locationsharingreporter/LocationCollectionReason.java
  play-services-api/src/main/java/com/google/android/gms/locationsharingreporter/LocationReportingStatus.java
  play-services-api/src/main/java/com/google/android/gms/locationsharingreporter/LocationShare.java
  play-services-api/src/main/java/com/google/android/gms/locationsharingreporter/LocationUploadRequest.java
  play-services-api/src/main/java/com/google/android/gms/locationsharingreporter/LocationUploadResponse.java
  play-services-api/src/main/java/com/google/android/gms/locationsharingreporter/NoticeAckedUpdateRequest.java
  play-services-api/src/main/java/com/google/android/gms/locationsharingreporter/PeriodicLocationReportingIssues.java
  play-services-api/src/main/java/com/google/android/gms/locationsharingreporter/PeriodicLocationUploadRequest.java
  play-services-api/src/main/java/com/google/android/gms/locationsharingreporter/StartLocationReportingRequest.java
  play-services-api/src/main/java/com/google/android/gms/locationsharingreporter/StopLocationReportingRequest.java
  play-services-basement/src/main/java/com/google/android/gms/common/api/ApiMetadata.java
  play-services-core-proto/src/main/proto/locationsharingreporter/reporting.proto
  play-services-core-proto/src/main/proto/locationsharingreporter/user_location_frontend_service.proto
  play-services-core/src/main/AndroidManifest.xml
  play-services-core/src/main/java/org/microg/gms/auth/loginservice/AccountAuthenticator.java
  play-services-core/src/main/kotlin/com/google/android/gms/locationsharingreporter/service/LocationShareIssue.kt
  play-services-core/src/main/kotlin/com/google/android/gms/locationsharingreporter/service/LocationSharingReporterApiService.kt
  play-services-core/src/main/kotlin/com/google/android/gms/locationsharingreporter/service/LocationSharingReporterExtensions.kt
  play-services-core/src/main/kotlin/com/google/android/gms/locationsharingreporter/service/LocationSharingUpdate.kt
  play-services-core/src/main/kotlin/com/google/android/gms/locationsharingreporter/service/RefreshPolicy.kt
  play-services-core/src/main/kotlin/com/google/android/gms/locationsharingreporter/service/ReportingRequestStoreFile.kt
  play-services-core/src/main/kotlin/com/google/android/gms/locationsharingreporter/service/settings/LocationShareConfirmActivity.kt
  play-services-core/src/main/kotlin/com/google/android/gms/locationsharingreporter/service/settings/LocationSharingSettingsActivity.kt
  play-services-core/src/main/kotlin/org/microg/gms/accountsettings/ui/LoaderActivity.kt
  play-services-core/src/main/res/drawable/ic_arrow_right.xml
  play-services-core/src/main/res/drawable/ic_link.xml
  play-services-core/src/main/res/layout/activity_location_sharing_settings.xml
  play-services-core/src/main/res/values/strings.xml
Labels: 📍 Location
