Repository microg/GmsCore, pull requests merged in 2025-06, with the labels that each got.

#2860 Integrity: Add cloudProjectNumber to IntegrityParams
  vending-app/src/main/kotlin/com/google/android/finsky/integrityservice/IntegrityService.kt
  vending-app/src/main/proto/Integrity.proto
Labels: 🔒 Integrity

#2887 Fido: fix support when targetSdk>=35
  play-services-fido/core/src/main/kotlin/org/microg/gms/fido/core/transport/nfc/NfcTransportHandler.kt
  play-services-fido/core/src/main/kotlin/org/microg/gms/fido/core/transport/usb/UsbDevicePermissionManager.kt
  play-services-fido/core/src/main/kotlin/org/microg/gms/fido/core/transport/usb/UsbTransportHandler.kt
Labels: 🔐 FIDO / WebAuthN / Passkeys

#2899 HMS Maps: Add fake widgets for better compatibility
  play-services-maps/core/hms/src/main/kotlin/org/microg/gms/maps/hms/GoogleMap.kt
Labels: 🗺 Maps
